# üìå TUTORIAL DAS CORES

- <span style="color:white">‚¨ú Padr√£o</span>
- <span style="color:green">üü© Topicos</span>
- <span style="color:red">üü• Aten√ß√£o</span>
- <span style="color:lightskyblue">üü¶ Informa√ß√£o</span>
- <span style="color:yellow">üü® Anota√ß√£o</span>
 <br> 
 <br> 
 ------------
<br>

## Sobre o projeto
O nosso projeto √© sobre os dados que tem no portal do CEAPS (Cota para Exerc√≠cio da Atividade Parlamentar dos Senadores).
<br>
Basicamente, o CEAPS cont√©m todos os gastos que senadores brasileiros declararam, divididos por ano.
<br>

## Os topicos s√£o:
### 0.0 - Analises e ajustes dos dados
    -   Concatenar os CSV para trabalhar somente com um DataFrame
    -   Detalhes (Primeira impress√£o)
    -   Analisar os tipos dos campos (E concertar)

### 1.0 -

# <span style="color:green"> IMPORTS</span>

In [522]:
import  pandas  as  pd
import  numpy   as  np

import  re

### <span style="color: #b0ccb1">Importandos os dados</span>

<span style="color:#007FFF">Identificando o encoding para conseguir ler o arquivo de forma certa</span>

In [523]:
# # Tente ler o arquivo CSV usando diferentes codifica√ß√µes at√© encontrar a correta
# possible_encodings = ['utf-8', 'latin1', 'ISO-8859-1', 'cp1252']

# for encoding in possible_encodings:
#     try:
#         df_ceaps_2022 = pd.read_csv('./datasets/despesa_ceaps_2008.csv', encoding=encoding, sep=';')
#         print(f"Arquivo lido com sucesso usando a codifica√ß√£o: {encoding}")
#         break
#     except UnicodeDecodeError:
#         print(f"Erro ao ler o arquivo com a codifica√ß√£o: {encoding}")

# # Agora 'df' cont√©m os dados do seu arquivo CSV em um DataFrame do pandas

In [524]:
df_ceaps_2008 = pd.read_csv('./datasets/despesa_ceaps_2008.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2009 = pd.read_csv('./datasets/despesa_ceaps_2009.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2010 = pd.read_csv('./datasets/despesa_ceaps_2010.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2011 = pd.read_csv('./datasets/despesa_ceaps_2011.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2012 = pd.read_csv('./datasets/despesa_ceaps_2012.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2013 = pd.read_csv('./datasets/despesa_ceaps_2013.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2014 = pd.read_csv('./datasets/despesa_ceaps_2014.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2015 = pd.read_csv('./datasets/despesa_ceaps_2015.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2016 = pd.read_csv('./datasets/despesa_ceaps_2016.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2017 = pd.read_csv('./datasets/despesa_ceaps_2017.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2018 = pd.read_csv('./datasets/despesa_ceaps_2018.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2019 = pd.read_csv('./datasets/despesa_ceaps_2019.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2020 = pd.read_csv('./datasets/despesa_ceaps_2020.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2021 = pd.read_csv('./datasets/despesa_ceaps_2021.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2022 = pd.read_csv('./datasets/despesa_ceaps_2022.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})

# <span style="color:green">0.0 Analises e ajustes dos dados</span>

### <span style="color: #b0ccb1">Concatenando os datasets</span>

In [525]:
df = pd.concat([
    df_ceaps_2008,
    df_ceaps_2009,
    df_ceaps_2010,
    df_ceaps_2011,
    df_ceaps_2012,
    df_ceaps_2013,
    df_ceaps_2014,
    df_ceaps_2015,
    df_ceaps_2016,
    df_ceaps_2017,
    df_ceaps_2018,
    df_ceaps_2019,
    df_ceaps_2020,
    df_ceaps_2021,
    df_ceaps_2022
], axis=0)

### <span style="color: #b0ccb1">Detalhes (Primeira impress√£o)</span>
- <span style="color: yellow">Total de dados: 317963 registros</span>
- <span style="color: yellow">Faltando dados nos campos: ['CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'COD_DOCUMENTO']</span>
- <span style="color: yellow">Tipos dos campos: 
    - ANO (int64): <span style="color: #dfdb98">O ano do cadastro‚úîÔ∏è</span>
    - MES (int64): <span style="color: #dfdb98">O m√™s do cadastro ‚úîÔ∏è</span>
    - SENADOR (object): <span style="color: #dfdb98">O nome do senador ‚úîÔ∏è</span>
    - TIPO_DESPESA(object): <span style="color: #dfdb98">Descri√ß√£o da despesa ‚úîÔ∏è</span>
    - CNPJ_CPF(object): <span style="color: #dfdb98">CNPJ da empresa (ACHISMO) ‚úîÔ∏è</span>
    - FORNECEDOR(object): <span style="color: #dfdb98">Nome do fornecedor ‚úîÔ∏è</span>
    - DOCUMENTO(object): <span style="color: #dfdb98">N√£o entendi o valor ‚úîÔ∏è</span>
    - DATA(object): <span style="color: #dfdb98">MUDAR DE "object" P/ "date" ‚ùå</span>
    - DETALHAMENTO(object): <span style="color: #dfdb98">Detalhe da compra ‚úîÔ∏è</span>
    - VALOR_REEMBOLSADO(object): <span style="color: #dfdb98">MUDAR DE "object" P/ "float" ‚ùå</span>
    - COD_DOCUMENTO(object): <span style="color: #dfdb98"> PRIMEIRA IMPRESS√ÉO √â SOMENTE N√öMEROS, MUDAR PARA "int64" ‚ùå</span>
</span>

In [526]:
df.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

In [527]:
len(df)

317963

In [528]:
df.describe()

                 ANO            MES
count  317963.000000  317963.000000
mean     2015.153914       6.644276
std         3.746778       3.308155
min      2008.000000       1.000000
25%      2012.000000       4.000000
50%      2015.000000       7.000000
75%      2018.000000      10.000000
max      2022.000000      12.000000

In [529]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317963 entries, 0 to 16781
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                317963 non-null  int64
 1   MES                317963 non-null  int64
 2   SENADOR            317963 non-null  object
 3   TIPO_DESPESA       317963 non-null  object
 4   CNPJ_CPF           314819 non-null  object
 5   FORNECEDOR         314819 non-null  object
 6   DOCUMENTO          293153 non-null  object
 7   DATA               314819 non-null  object
 8   DETALHAMENTO       180631 non-null  object
 9   VALOR_REEMBOLSADO  317963 non-null  object
 10  COD_DOCUMENTO      317961 non-null  object
dtypes: int64(2), object(9)
memory usage: 29.1+ MB

In [530]:
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
COD_DOCUMENTO        object
dtype: object

In [531]:
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
16777,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia A√©rea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
16778,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia A√©rea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
16779,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia A√©rea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
16780,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia A√©rea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
16781,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia A√©rea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

### <span style="color: #b0ccb1">Analisar campos</span>

##### <span style="color: #b0ccb1">Arrumar tipos de campos</span>

<span style="color:lightskyblue">Ajustar os campos para melhorar as analises</span>

In [532]:
# Novo campo ['NUM_CARCTERS_COD_DOCUMENTO'] quantidade de caracteres no campo COD_DOCUMENTO
df['NUM_CARCTERS_COD_DOCUMENTO']    =   df['COD_DOCUMENTO'].astype(str).str.len()

# ANO + '_' + MES
df['ANO_MES']                       =    pd.to_datetime(df['ANO'].astype(str) + '-' + df['MES'].astype(str), format='%Y-%m')

# COD_DOCUMENTO P/ float64
df['COD_DOCUMENTO']                 =   df['COD_DOCUMENTO'].astype('float64')

# Trocando "," por "." tirando os valore "\r\n" e TIPO P/ float
df['VALOR_REEMBOLSADO']             =   df['VALOR_REEMBOLSADO'].str.replace(',', '.')
df['VALOR_REEMBOLSADO']             =   df['VALOR_REEMBOLSADO'].str.replace('\r\n', '').astype('float64')

# DATA P/ date
df['DATA_FORMAT']                   =   pd.to_datetime(df['DATA'], format='%d/%m/%Y', errors='coerce')

In [533]:
df.dtypes

ANO                                    int64
MES                                    int64
SENADOR                               object
TIPO_DESPESA                          object
CNPJ_CPF                              object
FORNECEDOR                            object
DOCUMENTO                             object
DATA                                  object
DETALHAMENTO                          object
VALOR_REEMBOLSADO                    float64
COD_DOCUMENTO                        float64
NUM_CARCTERS_COD_DOCUMENTO             int64
ANO_MES                       datetime64[ns]
DATA_FORMAT                   datetime64[ns]
dtype: object

In [534]:
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO,NUM_CARCTERS_COD_DOCUMENTO,ANO_MES,DATA_FORMAT
16777,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia A√©rea: LATAM, Localizador: WIXHAI. P...",2893.04,2191398.0,7,2022-12-01,2022-12-06
16778,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia A√©rea: GOL, Localizador: WITOLM. Pas...",1180.19,2192272.0,7,2022-12-01,2022-12-09
16779,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia A√©rea: TAM, Localizador: THPKVQ. Pas...",2671.90,2192274.0,7,2022-12-01,2022-12-20
16780,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia A√©rea: AZUL, Localizador: QNN9HX. Pa...",1334.31,2192244.0,7,2022-12-01,2022-12-21
16781,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia A√©rea: TAM, Localizador: WMQWBX. Pas...",2250.72,2193622.0,7,2022-12-01,2022-12-30

<hr>

##### <span style="color: #b0ccb1">Campo: CNPJ_CPF</span>

- <span style="color: yellow">3144 dos dados est√£o com os valores nulos</span>
- <span style="color: yellow">Valores nulos de 2008-02 at√© 2009-03</span>
- <span style="color: yellow">Os valores come√ßam a ser preenchidos em 2009-04</span>

<span style="color:red"> N√£o vamos deletar o campo, nem apagar as linhas. <b>Por enquanto!</b></span>
<br>
<span style="color:red">Acredito que tenham colocado esse campo depois da data 2009-03.</span>
<br>
<span style="color:red"><b>Preencher com "00000000000"</b></span>

In [535]:
len(df[df['CNPJ_CPF'].isnull()]), len(df[df['CNPJ_CPF'].notna()])

(3144, 314819)

<span style="color:lightskyblue">Min. e Max dos valores NULL</span>

In [536]:
df[df['CNPJ_CPF'].isnull()]['ANO_MES'].min(), df[df['CNPJ_CPF'].isnull()]['ANO_MES'].max()

(Timestamp('2008-02-01 00:00:00'), Timestamp('2009-03-01 00:00:00'))

<span style="color:lightskyblue">Min. e Max dos valores n√£o NULL</span>

In [537]:
df[df['CNPJ_CPF'].notna()]['ANO_MES'].min(), df[df['CNPJ_CPF'].notna()]['ANO_MES'].max()

(Timestamp('2009-04-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

In [538]:
df['CNPJ_CPF'].fillna(00000000000, inplace=True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_23180\2515421642.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CNPJ_CPF'].fillna(00000000000, inplace=True)

<hr>

##### <span style="color: #b0ccb1">Campos: FORNECEDOR</span>

- <span style="color: yellow">3144 dos dados est√£o com os valores nulos</span>
- <span style="color: yellow">Valores nulos de 2008-02 at√© 2009-03</span>
- <span style="color: yellow">Os valores come√ßam a ser preenchidos em 2009-04</span>

<span style="color:red">N√£o vamos deletar o campo, nem apagar as linhas. <b>Por enquanto!</b></span>
<br>
<span style="color:red">Preenche com <b>"FORNECEDOR N√ÉO CADASTRADO"</b></span>

In [539]:
len(df[df['FORNECEDOR'].isna()])

3144

<span style="color:lightskyblue">Min. e Max dos valores NULL</span>

In [540]:
df[df['FORNECEDOR'].isnull()]['ANO_MES'].min(), df[df['FORNECEDOR'].isnull()]['ANO_MES'].max()

(Timestamp('2008-02-01 00:00:00'), Timestamp('2009-03-01 00:00:00'))

<span style="color:lightskyblue">Min. e Max dos valores n√£o NULL</span>

In [541]:
df[df['FORNECEDOR'].notna()]['ANO_MES'].min(), df[df['FORNECEDOR'].notna()]['ANO_MES'].max()

(Timestamp('2009-04-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

In [542]:
df['FORNECEDOR'].fillna('FORNECEDOR N√ÉO CADASTRADO', inplace=True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_23180\2007456774.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FORNECEDOR'].fillna('FORNECEDOR N√ÉO CADASTRADO', inplace=True)

<hr>

##### <span style="color: #b0ccb1">Campos: DOCUMENTO</span>

- <span style="color:yellow">24810 dos dados est√£o com os valores nulos</span>
- <span style="color:yellow">221607 valores unicos</span>
- <span style="color:yellow"><b>NULOS</b> de 2008-02 at√© 2009-03, <b>mas ainda tem valores nulos depois dessa data</b></span>
- <span style="color:yellow">NUM_CARCTERS_COD_DOCUMENTO > 7 o DOCUMENTO √© tudo NULL, <b> tem valores nulos com 6 e 7 caracteres</b></span>
<br><br>
<span style="color:red">NUM_CARCTERS_COD_DOCUMENTO < 6 pode deletar</span>
<br>
<span style="color:red">NUM_CARCTERS_COD_DOCUMENTO > 7 inserir valor <b>'N√ÉO PREENCHIDO'</b></span>

<span style="color: lightskyblue">Vendo se tem NUM_LETRAS_COD_DOCUMENTO > 8 na epoca que n√£o tinha dados</span>

In [543]:
len(df.loc[( (df['ANO_MES'] < '2009-04-01') & (df['NUM_CARCTERS_COD_DOCUMENTO'] > 8) )]), len( df.loc[df['ANO_MES'] < '2009-04-01' ] )

(3144, 3144)

In [573]:
len(df[df['DOCUMENTO'].isna()]), len(df[df['DOCUMENTO'].notna()])

(0, 317961)

In [572]:
print("Nulos")
df[df['DOCUMENTO'].isnull()]['ANO_MES'].min(), df[df['DOCUMENTO'].isnull()]['ANO_MES'].max()

Nulos

(NaT, NaT)

In [560]:
print("N√£o nulos")
df[df['DOCUMENTO'].notna()]['ANO_MES'].min(), df[df['DOCUMENTO'].notna()]['ANO_MES'].max()

N√£o nulos

(Timestamp('2009-04-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

In [570]:
print("Valores n√£o NULOS, min e max: {} e {}".format(df[(df['DOCUMENTO'].notna())]['NUM_CARCTERS_COD_DOCUMENTO'].min(), df[(df['DOCUMENTO'].notna())]['NUM_CARCTERS_COD_DOCUMENTO'].max()))

Valores n√£o NULOS, min e max: 6 e 13

In [564]:
print("Valores NULOS, min e max: {} e {}".format(df[(df['DOCUMENTO'].isnull())]['NUM_CARCTERS_COD_DOCUMENTO'].min(), df[(df['DOCUMENTO'].isnull())]['NUM_CARCTERS_COD_DOCUMENTO'].max()))

Valores NULOS, min e max: 6 e 13

<span style="color: lightskyblue">DELETA NUM_LETRAS_COD_DOCUMENTO < 5</span>

In [550]:
# Criar uma m√°scara booleana para identificar as linhas onde 'NUM_CARCTERS_COD_DOCUMENTO' seja menor que 5
mascara = df['NUM_CARCTERS_COD_DOCUMENTO'] < 5

# Usar a m√°scara para selecionar as linhas que n√£o atendem ao crit√©rio e delet√°-las do DataFrame
df = df[~mascara]

<span style="color: lightskyblue">NULOS & NUM_CARCTERS_COD_DOCUMENTO > 7 inserir valor <b>'N√ÉO PREENCHIDO'</b></span>

In [568]:
mascara = (df['DOCUMENTO'].isnull()) & (df['NUM_CARCTERS_COD_DOCUMENTO'] > 7)
df.loc[mascara, 'DOCUMENTO'] = 'N√ÉO PREENCHIDO'

<span style="color: lightskyblue">NULOS & NUM_CARCTERS_COD_DOCUMENTO < 8 inserir valor <b>'POSSIVEL PREENCHIMENTO'</b></span>

In [571]:
mascara = (df['DOCUMENTO'].isnull()) & (df['NUM_CARCTERS_COD_DOCUMENTO'] < 8)
df.loc[mascara, 'DOCUMENTO'] = 'POSSIVEL PREENCHIMENTO'

<hr>

##### <span style="color: #b0ccb1">Campos: DATA</span>

- <span style="color:yellow">3144 dados nulos</span>
- <span style="color:yellow">Valores nulos de 2008-02 at√© 2009-03</span>
- <span style="color:yellow">Os valores come√ßam a ser preenchidos em 2009-04</span>
- <span style="color:yellow">Identificamos que tem DATA que s√£o as mesma do ANO_MES, <b>mas algumas n√£o</b></span>
<br><br>
<span style="color:red">Verificar as <b>datas diferentes do ANO_MES</b> se tem alguma coisa em comun</span>

In [574]:
len(df[df['DATA'].isnull()])

3144

In [575]:
print('NULOS')
df[df['DATA'].isnull()]['ANO_MES'].min(), df[df['DATA'].isnull()]['ANO_MES'].max()

NULOS

(Timestamp('2008-02-01 00:00:00'), Timestamp('2009-03-01 00:00:00'))

In [576]:
print('N√ÉO NULOS')
df[df['DATA'].notna()]['ANO_MES'].min(), df[df['DATA'].notna()]['ANO_MES'].max()

N√ÉO NULOS

(Timestamp('2009-04-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

In [579]:
df.tail(1)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO,NUM_CARCTERS_COD_DOCUMENTO,ANO_MES,DATA_FORMAT
16781,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia A√©rea: TAM, Localizador: WMQWBX. Pas...",2250.72,2193622.0,7,2022-12-01,2022-12-30

<hr>

##### <span style="color: #b0ccb1">Campos: DETALHAMENTO</span>

- <span style="color:yellow">137332 dados nulos</span>
- <span style="color:yellow"><b>N√ÉO NULOS</b> apartir 2011-04-01</span>
- <span style="color:yellow">Tem valores NULOS depois da data 2011-04-01</span>
<br><br>
<span style="color:red">Analisar melhor</span>

In [593]:
print("NULLs {} | N√£o NULLS {}".format(len(df[df['DETALHAMENTO'].isnull()]), len(df[df['DETALHAMENTO'].notnull()])))

NULLs 137332 | N√£o NULLS 180629

In [589]:
print("Valore √∫nicos: {}".format(len(df['DETALHAMENTO'].unique())))

Valore √∫nicos: 108500

In [583]:
print('NULOS')
df[df['DETALHAMENTO'].isnull()]['ANO_MES'].min(), df[df['DETALHAMENTO'].isnull()]['ANO_MES'].max()

NULOS

(Timestamp('2008-02-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

In [584]:
print('N√ÉO NULOS')
df[df['DETALHAMENTO'].notna()]['ANO_MES'].min(), df[df['DETALHAMENTO'].notna()]['ANO_MES'].max()

N√ÉO NULOS

(Timestamp('2011-04-01 00:00:00'), Timestamp('2022-12-01 00:00:00'))

<hr>

##### <span style="color: #b0ccb1">Campos: COD_DOCUMENTO</span>

- <span style="color:yellow">3144 dados nulos</span>
- <span style="color:yellow">Valores nulos de 2008-02 at√© 2009-03</span>
- <span style="color:yellow">Os valores come√ßam a ser preenchidos em 2009-04</span>
- <span style="color:yellow">Identificamos que tem DATA que s√£o as mesma do ANO_MES, <b>mas algumas n√£o</b></span>
<br><br>
<span style="color:red">Verificar as <b>datas diferentes do ANO_MES</b> se tem alguma coisa em comun</span>

# <span style="color:green">1.0 Configura√ß√£o dos campos</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>