# üìå TUTORIAL DAS CORES

- <span style="color:white">‚¨ú Qualquer escrita</span>
- <span style="color:green">üü© Topicos</span>
- <span style="color:red">üü• Aten√ß√£o</span>
- <span style="color:#007FFF">üü¶ Informa√ß√£o</span>
- <span style="color:yellow">üü® Anota√ß√£o</span>
 <br> 
 <br> 
 ------------
<br>

## Sobre o projeto
O nosso projeto √© sobre os dados que tem no portal do CEAPS (Cota para Exerc√≠cio da Atividade Parlamentar dos Senadores).
<br>
Basicamente, o CEAPS cont√©m todos os gastos que senadores brasileiros declararam, divididos por ano.
<br>

## Os topicos s√£o:
### 0.0 - Analisar os dados
### 1.0 -

# <span style="color:green"> IMPORTS</span>

In [ ]:
import  pandas  as  pd
import  numpy   as  np

import  re

# <span style="color:green">0.0 Analisar os dados</span>

### <span style="color: #b0ccb1">Importandos os dados</span>

In [ ]:
df_ceaps_2008 = pd.read_csv('./datasets/despesa_ceaps_2008.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2009 = pd.read_csv('./datasets/despesa_ceaps_2009.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2010 = pd.read_csv('./datasets/despesa_ceaps_2010.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2011 = pd.read_csv('./datasets/despesa_ceaps_2011.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2012 = pd.read_csv('./datasets/despesa_ceaps_2012.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2013 = pd.read_csv('./datasets/despesa_ceaps_2013.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2014 = pd.read_csv('./datasets/despesa_ceaps_2014.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2015 = pd.read_csv('./datasets/despesa_ceaps_2015.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2016 = pd.read_csv('./datasets/despesa_ceaps_2016.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2017 = pd.read_csv('./datasets/despesa_ceaps_2017.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2018 = pd.read_csv('./datasets/despesa_ceaps_2018.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2019 = pd.read_csv('./datasets/despesa_ceaps_2019.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2020 = pd.read_csv('./datasets/despesa_ceaps_2020.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2021 = pd.read_csv('./datasets/despesa_ceaps_2021.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})
df_ceaps_2022 = pd.read_csv('./datasets/despesa_ceaps_2022.csv', encoding='ISO-8859-1', sep=';', skiprows=1, dtype={'COD_DOCUMENTO': str})

### <span style="color: #b0ccb1">Concatenando os datasets</span>

In [ ]:
df = pd.concat([
    df_ceaps_2008,
    df_ceaps_2009,
    df_ceaps_2010,
    df_ceaps_2011,
    df_ceaps_2012,
    df_ceaps_2013,
    df_ceaps_2014,
    df_ceaps_2015,
    df_ceaps_2016,
    df_ceaps_2017,
    df_ceaps_2018,
    df_ceaps_2019,
    df_ceaps_2020,
    df_ceaps_2021,
    df_ceaps_2022
], axis=0)

### <span style="color: #b0ccb1">Detalhes (Primeira impress√£o)</span>
- <span style="color: yellow">Total de dados: 317963 registros</span>
- <span style="color: yellow">Faltando dados nos campos: ['CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'COD_DOCUMENTO']</span>
- <span style="color: yellow">Tipos dos campos: 
    - ANO (int64): <span style="color: #dfdb98">O ano do cadastro‚úîÔ∏è</span>
    - MES (int64): <span style="color: #dfdb98">O m√™s do cadastro ‚úîÔ∏è</span>
    - SENADOR (object): <span style="color: #dfdb98">O nome do senador ‚úîÔ∏è</span>
    - TIPO_DESPESA(object): <span style="color: #dfdb98">Descri√ß√£o da despesa ‚úîÔ∏è</span>
    - CNPJ_CPF(object): <span style="color: #dfdb98">CNPJ da empresa (ACHISMO) ‚úîÔ∏è</span>
    - FORNECEDOR(object): <span style="color: #dfdb98">Nome do fornecedor ‚úîÔ∏è</span>
    - DOCUMENTO(object): <span style="color: #dfdb98">N√£o entendi o valor ‚úîÔ∏è</span>
    - DATA(object): <span style="color: #dfdb98">MUDAR DE "object" P/ "date" ‚ùå</span>
    - DETALHAMENTO(object): <span style="color: #dfdb98">Detalhe da compra ‚úîÔ∏è</span>
    - VALOR_REEMBOLSADO(object): <span style="color: #dfdb98">MUDAR DE "object" P/ "float" ‚ùå</span>
    - COD_DOCUMENTO(object): <span style="color: #dfdb98"> PRIMEIRA IMPRESS√ÉO √â SOMENTE N√öMEROS, MUDAR PARA "int64" ‚ùå</span>
</span>

In [11]:
df.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

In [ ]:
len(df)

In [ ]:
df.describe()

In [ ]:
df.info()

In [10]:
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
COD_DOCUMENTO        object
dtype: object

In [13]:
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
16777,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia A√©rea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
16778,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia A√©rea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
16779,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia A√©rea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
16780,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia A√©rea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
16781,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia A√©rea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

### <span style="color: #b0ccb1">Analisar campos</span>

##### <span style="color: #b0ccb1">Campos: CNPJ_CPF</span>

##### <span style="color: #b0ccb1">Campos: FORNECEDOR</span>

##### <span style="color: #b0ccb1">Campos: DOCUMENTO</span>

##### <span style="color: #b0ccb1">Campos: DATA</span>

##### <span style="color: #b0ccb1">Campos: DETALHAMENTO</span>

##### <span style="color: #b0ccb1">Campos: COD_DOCUMENTO</span>

# <span style="color:green">1.0 Configura√ß√£o de campos</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>

# <span style="color:green">0.0 Analisar os dados</span>